<!-- Tu código HTML -->

<div class="button-container">
  <button onclick="openModal();" class="cssbuttons-io">
    <span>
      Crear Transacción
    </span>
  </button>
  <button onclick="openModalReport()" class="cssbuttons-io">
    <span>
      Mostrar Informe
    </span>
  </button>
</div>


<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section crear-trans">
      <form id="crear-transaccion-form">
        <div class="columns is-multiline">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="nombre-trans">Nombre de Transacción</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nombre" id="nombre-trans" name="nombre" />
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="costo-trans">Costo</label>
              <div class="control">
                <input class="input" type="text" placeholder="Costo" id="costo-trans" name="costo" />
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="metodo-pago">Método de Pago</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="metodo-pago" name="metodo_pago">
                    <option value="credito">Crédito</option>
                    <option value="debito">Débito</option>
                    <option value="efectivo">Efectivo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label for="dropdown-trigger" class="label">Categoría:</label>
              <div class="dropdown control" style="width: 100% !important">
                <div class="dropdown-trigger" style="width: 100% !important">
                  <button id="dropdown-button" type="button"  class="button is-fullwidth " aria-haspopup="true" aria-controls="dropdown-menu">
                    <span id="dropdown-text" class="has-text-left" style="width: 90%; overflow: hidden;"></span>
                    <span class="icon is-small">
                        <i id="dropdown-icon" class="fa fa-angle-right"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div  class="dropdown-content">
                    <div id="container-options">

                    </div>
                    <hr class="dropdown-divider" />
                    
                    <button type="button" class="button is-ghost" onclick="toggleModalCrearCategoria();">      
                      <span>Agregar Categoria</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-full">
            <div class="field">
              <label class="label" for="descripcion-trans">Descripción</label>
              <div class="control">
                <textarea class="textarea" placeholder="Descripción" id="descripcion-trans" name="descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Enviar</button>
          </div>
          <div class="control">
            <button onclick="closeModal()" class="button is-light" type="button">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="transacciones" class="transacciones"></div>

<div class="modal" id="modal-edit">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section crear-trans">
      <form id="form-edit" method="POST">
        <div class="columns is-multiline">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="nombre-trans">Nombre</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nombre" id="nombre-trans-edit" name="nombre" />
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="costo-trans">Costo</label>
              <div class="control">
                <input class="input" type="text" placeholder="Costo" id="costo-trans-edit" name="costo" />
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="metodo-pago">Método de Pago</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="metodo-pago-edit" name="metodo_pago">
                    <option value="credito">Crédito</option>
                    <option value="debito">Débito</option>
                    <option value="efectivo">Efectivo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="categoria-trans">Categoría</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="categoria-trans-edit" name="categoria">
                    <option value="comida">Comida</option>
                    <option value="transporte">Transporte</option>
                    <option value="entretenimiento">Entretenimiento</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-full">
            <div class="field">
              <label class="label" for="descripcion-trans">Descripción</label>
              <div class="control">
                <textarea class="textarea" placeholder="Descripción" id="descripcion-trans-edit" name="descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Editar</button>
          </div>
          <div class="control">
            <button onclick="closeModalEdit()" class="button is-light" type="button">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="reportModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Informe</p>
      <button class="delete" aria-label="close" onclick="closeModalReport()"></button>
    </header>
    <section class="modal-card-body" id="reportContent">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="closeModalReport()">Cerrar</button>
    </footer>
  </div>
</div>

<script>

  const idToken = localStorage.getItem('idToken');
  // TODO: Hacer alerta si no hay sesion
  if (!idToken) {
    alert('Debes iniciar sesión');
    window.location.href = '/';
  }




</script>

