<button onclick="openModalMeta();" class="cssbuttons-io">
  <span>
    Crear Meta
  </span>
</button>


<div class="modal" id="modal-meta">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section crear-trans">
      <form id="crear-meta-form">
        <div class="columns is-multiline">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="nombre-trans">Nombre de la Meta</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nombre" id="nombre-meta" name="nombre_meta" />
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="costo-trans">Objetivo a ahorrar</label>
              <div class="control">
                <input class="input" type="text" placeholder="Objetivo" id="total-meta" name="total_meta" />
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label" for="costo-trans">Monto Inical</label>
              <div class="control">
                <input class="input" type="text" placeholder="Monto" id="monto-meta" name="monto_meta" value="0" />
              </div>
            </div>
          </div>

          {{!-- <div class="column is-half">
            <div class="field">
              <label class="label" for="metodo-pago">Método de Pago</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="metodo-pago" name="metodo_pago">
                    <option value="credito">Crédito</option>
                    <option value="debito">Débito</option>
                    <option value="efectivo">Efectivo</option>
                  </select>
                </div>
              </div>
            </div>
          </div> --}}

          {{!-- <div class="column is-half">
            <div class="field">
              <label class="label" for="categoria-trans">Categoría</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="categoria-trans" name="categoria">
                    <option value="comida">Comida</option>
                    <option value="transporte">Transporte</option>
                    <option value="entretenimiento">Entretenimiento</option>
                  </select>
                </div>
              </div>
            </div>
          </div> --}}

          {{!-- <div class="column is-full">
            <div class="field">
              <label class="label" for="descripcion-trans">Descripción</label>
              <div class="control">
                <textarea class="textarea" placeholder="Descripción" id="descripcion-trans" name="descripcion"></textarea>
              </div>
            </div>
          </div> --}}
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Crear Meta</button>
          </div>
          <div class="control">
            <button onclick="closeModalMeta()" class="button is-light" type="button">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- Aca iran las metas --}}
<div id="metas" class="metas"></div>

{{!-- Modal para editar meta --}}
<div class="modal" id="modal-meta-edit">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section crear-trans">
      <form id="form-edit-meta" method="POST">
        <div class="columns is-multiline">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="nombre-trans">Nombre</label>
              <div class="control">
                <input class="input" type="text" placeholder="Nombre" id="nombre-meta-edit" name="nombre" readonly/>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="costo-trans">Objetivo a ahorrar</label>
              <div class="control">
                <input class="input" type="text" placeholder="Objetivo" id="objetivo-meta-edit" name="costo" readonly/>
              </div>
            </div>
          </div>

          <div class="column is-full">
            <div class="field">
              <label class="label" for="costo-trans">Monto Actual</label>
              <div class="control">
                <input class="input" type="text" placeholder="Monto" id="monto-meta-edit" name="monto_meta" readonly/>
              </div>
            </div>
          </div>

          <div class="column is-full">
            <div class="field">
              <label class="label" for="costo-trans">Monto a abonar</label>
              <div class="control">
                <input class="input" type="text" placeholder="Monto" id="abono-meta-edit" name="abono"/>
              </div>
            </div>
          </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Agregar Monto</button>
          </div>
          <div class="control">
            <button onclick="closeModalMetaEdit()" class="button is-light" type="button">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>