{{! Este es codigo que se va a repetir a o que va a estar estatico en nuestra app }}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GestiCost</title>
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <h3 class="title is-3">GestiCost</h3>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/transacciones" class="navbar-item  quitar">
            Transacciones
          </a>

          <a href="/metas" class="navbar-item  quitar">
            Metas
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a onclick="cerrarSesion()" class="button is-primary quitar">
                <strong>Cerrar sesión</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      {{{body}}}
    </div>
  </div>

  <!-- Esto es para que se renderice el contenido de las vistas, entonces body es el contenido
                    que va a cambiar-->
</body>


<script src="transacciones.js"></script>
<script src="main.js"></script>
<script type="module" src="google_auth.js"></script>
<script src="meta.js" ></script>
<script src="categorias.js" ></script>



</html>